html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

.app {
   width: 960px;
   margin: 0 auto;
   padding: 20px;
 }

 nav ul {
   list-style: none;
   display: flex;
   background-color: black;
   margin-bottom: 20px;
 }

 nav ul li {
   padding: 20px;
 }

 nav ul li a {
     color: white;
     text-decoration: none;
   }

   .current {
     border-bottom: 4px solid white;
   }

   h1 {
     margin-bottom: 20px;
   }

   p {
     margin-bottom: 15px;
   }

 nav ul li a {
   color: white;
   text-decoration: none;
 }

 .modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%, 0);
   background-color: white;
   border-radius: 5px;
   border: 1px solid #777;
   padding: 2rem;
   min-width: 20rem;
   max-width: 60rem;
   width: 90%;
   opacity: 0;
 }

 .modal-in  {
   transition: opacity 0.5s ease-in;
   opacity: 1
 }

 .modal-out {
   transition: opacity 0.3s ease-out;
   opacity: 0
 }
